page-home {
   

    ion-header{
        ion-navbar{
            div.toolbar-background{
                 background-image: url('../../assets/imgs/topo.png');
                 background-repeat: no-repeat;
                 background-size: cover;
                 text-align: center;
                 
                
            }
        }
        

    }  

    
        
    #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #000000;
   }
 
   .flb {
        background-color: #000000;
        height:100%;
        width:100%;
 
        animation: pulse 1s linear forwards;
 
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    .Aligner-item {
        max-width: 50%;
    }
 
    .Aligner-item--top {
        align-self: flex-start;
    }
 
    .Aligner-item--bottom {
        align-self: flex-end;
    }
    .itemMenu {
        //justify-content: center ;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        

        //vertical-align: middle;
        //font-size: 20px;
        //background-color: #f80e0e
    }
    ion-card img {
        display: block;
         width: auto;
    }
    .card-md{
        margin: 5px;
        width: calc(100% - 5px);
       p{
        font-size: 1.7rem;
       }

    }
    
    #custom-overlayimg {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
        animation: animation 3100ms linear infinite both;
        animation-delay: 1s;
    }
    @keyframes pulse {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
}
